.Item{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    background-color: rgba(255,255,255, 0.5);
    color: black;
    border-radius: 15px;
    padding: 15px;
    justify-content: space-between;
}

.Total{
    color: #72D3AD;
    align-self: flex-end;
}